
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none
}

body {
    background-color: black;
    height: 10000px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.header-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 17.41px;
    letter-spacing: -2%;
    text-align: center;
    color:rgba(127, 127, 144, 1);
    font-family: Archivo;
}

.header-logo:hover {
    cursor: pointer;
}

.arrow-right:hover .header-content {
    color: white; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); 
    transform: translateY(-2px);
    cursor: pointer;
}
.arrow-right:hover .arrow {
    color: white; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); 
    transform: translateY(-2px);
    cursor: pointer;
}
.header-content:hover {
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    transform: translateY(-2px);
    cursor: pointer;
    transition:0.2s ;
    -webkit-transition:0.2s ;
    -moz-transition:0.2s ;
    -ms-transition:0.2s ;
    -o-transition:0.2s ;
}



.header-ul {
    display: flex;
    gap: 40px;
    
}

.arrow-right {
    display: flex;
    gap: 8px;
}

.bars-div:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.3s

}

.bars-div {

    display: none ;
}

.action-btn {
  
    border-radius: 99px;
    border-width: 1px;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    cursor: pointer;
  
}

.signin-btn { background-color: rgba(0, 0, 0, 1); box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset; font-family: Archivo; font-weight: 600; font-size: 16px; line-height: 17.41px; letter-spacing: -2%; text-align: center; color: rgba(255, 255, 255, 1); 
}

.signup-btn {

 background-color: rgba(255, 255, 255, 1);
 box-shadow: 0px 0px 35px 0px rgba(160, 151, 180, 0.5);
 font-family: Archivo;
font-weight: 600;
font-size: 16px;
line-height: 17.41px;
letter-spacing: -2%;
text-align: center;
color: rgba(0, 0, 0, 1);


    
}

.signin-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
    transition: 0.3s ease-in-out;
}

.signup-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
    transition: 0.3s ease-in-out;
}


@media (max-width: 1024px) {

    .header-div {
        display: none;
    }
    .bars-div {
        display: flex;
    }
}
@media (max-width:768px) {
    .header-btn {
        display: none;
    }
}








/* section-1 strat*/

.s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-title {
font-family: Archivo;
font-weight: 500;
font-size: 75px;
line-height: 87.04px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
}
.a-span {
 font-family: Archivo;
font-weight: 500;
font-size: 41.8px;
line-height: 45.47px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
}

.second-title {
    font-family: Archivo;
font-weight: 500;
font-size: 41.8px;
line-height: 45.47px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
}
.third-title {
    font-family: Archivo;
font-weight: 500;
font-size: 75px;
line-height: 87.04px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
background: linear-gradient(to right, #FFFFFF 0%, #a594c7 100%);
color: transparent;
background-clip: text;







}

.title-div {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

.first-p {
    font-family: Archivo;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -2%;
text-align: center;
color: rgba(127, 127, 144, 1);
margin-top: 35px;
}
   




@media (max-width:1280px) {

    .main-title {
        font-size: 55px;
        line-height: 35px
    }

    .a-span {
        font-size: 30px;
        line-height: 35px
    }
    .second-title {
        font-size: 30px;
        line-height: 35px
    }

    .third-title {
        font-size: 55px;
        line-height: 35px
    }
}


@media (max-width:768px) {

    .main-title {
        font-size: 30px;
    }

    .a-span {
        font-size: 17px;
    }
    .second-title {
        font-size: 17px;
    }

    .third-title {
        font-size: 30px;
    }

    .title-div {
        gap: 0px;
        margin-top: 30px;
    }
    .first-p {
        font-size: 13px;
        margin-top: 22px;
    }

 
    
    

}

@media (max-width:480px) {

    .main-title{
        font-size: 24px;
    }
    .third-title {
        font-size: 24px;
    }

   
}


.action2-btn {
  
    border-radius: 99px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px;
    cursor: pointer;
  
}
.learn-btn {
 background-color: rgba(0, 0, 0, 1);
 color: rgba(255, 255, 255, 1);
 font-family: Archivo;
font-weight: 500;
font-size: 17px;

letter-spacing: -2%;
text-align: center;
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;


}

.get-btn {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-family: Archivo;
font-weight: 500;
font-size: 17px;

letter-spacing: -2%;
text-align: center;
box-shadow: 0px 0px 35px 0px rgba(160, 151, 180, 0.5);


}
.hero-btn-div {

    margin-top: 45px;
}
.learn-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
    transition: 0.3s ease-in-out;
}

.get-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
    transition: 0.3s ease-in-out;
}

@media (max-width:768px) {
    .action2-btn {
  
        border-radius: 99px;
        border-width: 1px;
        padding-top: 13px;
        padding-right: 24px;
        padding-bottom: 13px;
        padding-left: 24px;
        cursor: pointer;
      
    }

    .learn-btn {
        font-size: 14px;
    }
    .get-btn {
        font-size: 14px;
    }

    .hero-btn-div {

        margin-top: 22px;
    }
}


.phone-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.back-img {
    position: absolute;
    object-fit: cover;
      z-index: -4;
      width: 100%;
      height: 900px;
}
.phone-img {
    margin-top: 10px;
}

@media (max-width:1280px) {

    .phone-img {

        width:800px ;
        height: 500px;
    }

    .back-img {
        height: 700px;
    }

} 

@media (max-width:1024px) {

    .phone-img {

        width:600px ;
        height: 350px;
    }

    .back-img {
        height: 600px;
    }
}

@media (max-width:768px) {

    .phone-img {

        width:400px ;
        height: 250px;
    }

    .back-img {
        height: 400px;
    }
} 

@media (max-width:480px) {
    .phone-img {

        width:340px ;
        
    }
} 


.company-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 32px;
}

.company-p {
 font-family: Archivo;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -2%;
text-align: center;
color: rgba(127, 127, 144, 1);

}

.logos-div {
    display: flex;
    gap: 60px;
}


@media (max-width:1024px) {
    .logos-div {
        gap: 30px;
    }

}




.logos-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    display: none;
}

.row {
    display: flex;
    width: fit-content;
    gap: 30px;
}
 

@media (max-width:768px) {

    .logos-mobile {
        display: flex;
    }
    .logos-div {
        display: none;
    }
}


@media (max-width:480px) {
    .row {
        gap: 20px;
    }
}


/* Cards-Here*/


.card-section {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.vexion-div h2 {
    font-family: Archivo;
font-weight: 500;
font-size: 24px;
line-height: 26.11px;
letter-spacing: -2%;
text-align: center;
color: rgba(249, 248, 246, 1);
background: linear-gradient(rgba(244, 241, 247, 1),rgba(213, 204, 236, 1),rgba(173, 187, 234, 1),rgba(221, 226, 242, 1));
-webkit-text-fill-color: transparent;
background-clip: text;
}


.vexion-div {

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 150px;
    margin-bottom: 80px;
}


.universal {
    font-family: Archivo;
font-weight: 500;
font-size: 64px;

letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
}
@media (max-width:1024px) {

    .universal {
        font-size: 38px;
    }
    .vexion-div {
        gap: 15px;
    }
}

.vexion-div p {
    font-family: Archivo;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -2%;
text-align: center;
color: rgba(127, 127, 144, 1);
}


.card-1 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
 width: 385px;
height: 699px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);

}

.card-1:hover {

    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);
}

.card-1 h2 {

font-family: Archivo;
font-weight: 500;
font-size: 32px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);



}

.card-1 p {
    font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
text-align: center;
color: rgba(127, 127, 144, 1);
margin-top: 16px;

}

.getapp-btn {
 font-family: Archivo;
font-weight: 600;
font-size: 16px;
letter-spacing: -2%;
text-align: center;
color: rgba(0, 0, 0, 1);
margin-top: 48px;
margin-bottom: 56px;

}

.getapp-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
 transition: 0.3s ;
}


.card-2 {

 width: 385px;
height: 297px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
padding: 32px 22px;
}

.card-2:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);
}

.card-2 h2 {

font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
margin-top: 65px;
margin-bottom: 16px;

} 

.card-2 p {
 font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);


}

.card-3 {
width: 385px;
height: 386px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
padding: 35px 24px;
margin-top: 16px;

}
.card-3:hover {

    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);
}


.card-3 h2 {
font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
margin-top: 108px;
margin-bottom: 16px;

}

.card-3 p {
 font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);

}

.card-4 {
 width: 385px;
height: 386px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
padding: 35px 24px;

}

.card-4:hover {

    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);

}

.card-4 h2 {
font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
margin-top: 133px;
margin-bottom: 16px;

}

.card-4 p {
font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);

}


.card-5 {
 width: 385px;
height: 297px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
padding: 35px 24px;
margin-top: 16px;

}

.card-5:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);
}


.card-5 h2 {
font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
margin-top: 32px;
margin-bottom: 16px;

}

.card-5 p {
font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);

}

@media (max-width:768px) {

    .phone-img {
        width: 344px;
    }

    .cardd {
        width: 340px;
    }
}
@media (max-width:1280px)  {

    .card-section {
        flex-direction: column;
        align-items: center;
    }
}





/* section-3 strat*/


.s-3 {
 display: flex;
 justify-content: space-around;
 margin-top: 148px;
 position: relative;
 width: 100%;
 

} 

   .s3-div1 h2 {

font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(249, 248, 246, 1);
background: linear-gradient(rgba(244, 241, 247, 1),rgba(213, 204, 236, 1),rgba(173, 187, 234, 1),rgba(221, 226, 242, 1));
-webkit-text-fill-color: transparent;
background-clip: text;
   } 

   .s3-div1 h1 {
    font-family: Archivo;
font-weight: 500;
font-size: 64px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
width: 531px;
margin-top: 16px;
margin-bottom: 24px;
   }

   .s3-div1 p {

font-family: Archivo;
font-weight: 500;
font-size: 16px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);
width: 340px;
margin-bottom: 173px;
   }


.phn-btn:hover {
    transition:0.5s ;
    transform: scale(1.07);
}


.horizontal-phone {
    position: absolute;  
    top: 82%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    z-index: 2;
    
}




/*Col-line-with-content*/

.line-div1 {
    display: flex;
    gap: 24px;
    align-items: center;
}

.col-line1 {
    height: 105px;
    border-collapse: separate;
    border-left: 4px solid rgb(59, 59, 68);

}

.line-content1 {
    display: flex;
    flex-direction: column;
width: 214px;
height: fit-content;
gap: 16px;


}

.line-h2 {
 font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);

}
.line-p {
font-family: Archivo;
font-weight: 500;
font-size: 14px;
line-height: 21px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);

}

.line-content2 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 244px;
    height: 126px;
}

.line-content3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 244px;
    height: 109px;
}

.col-line-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.col-line2 {
    height: 105px;
    border-collapse: separate;
    border-left: 4px solid rgb(59, 59, 68);

}

.col-line3 {
    height: 105px;
    border-collapse: separate;
    border-left: 4px solid rgb(59, 59, 68);

}


.line-div2 {
    display: flex;
    gap: 24px;
    align-items: center;
}


.line-div3 {
    display: flex;
    gap: 24px;
    align-items: center;
}







.line-div1:hover {
    cursor: pointer;
}

.line-div1:hover .line-content1 h2 {
    
    color: rgb(255, 255, 255 ) ;
}

.line-div1:hover .col-line1 {
    
    border-left: 4px solid rgb(255, 255, 255) ;
}


.line-div2:hover {
    cursor: pointer;
}

.line-div2:hover .line-content2 h2 {
    
    color: rgb(255, 255, 255 ) ;
}

.line-div2:hover .col-line2 {
    
    border-left: 4px solid rgb(255, 255, 255) ;
}



.line-div3:hover {
    cursor: pointer;
}

.line-div3:hover .line-content3 h2 {
    
    color: rgb(255, 255, 255 ) ;
}

.line-div3:hover .col-line3 {
    
    border-left: 4px solid rgb(255, 255, 255) ;
}



@media (max-width:1440px) {

.phn-img-div {
    display: none;
}

}


.phn2 {
   
    display: none;
}

@media (max-width:1440px) {
    .phn2 {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}


@media (max-width:1024px) {

    .s3-div1 h1 {
        font-size: 30px;
        width: 350px;
    }

   
}


@media (max-width:1024px) {
    .phn2-img {

        width: 100%;
        margin-top: 50px;

    }

    .s-3 {
        flex-direction: column;
        align-items: center;
    }

    .s3-div1 p {
        margin-bottom: 40px;

    }
    .s3-div1 button {
        margin-bottom: 40px;
    }
    .s3-div1 {
        padding-left: 70px;
    }
}







.just-line-container {
    display: flex;
    justify-content: center;
}


.just-line-div1 {
    
    width: 1432px;
    height: 1px;
    background-color: rgba(235, 221, 243, 1);
    margin-top: 200px;


}





/*startin section 4*/

.s-4 {
    margin-top: 150px;
   
}

.vx-h2 {
    
font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(249, 248, 246, 1);
background: linear-gradient(rgba(244, 241, 247, 1),rgba(213, 204, 236, 1),rgba(173, 187, 234, 1),rgba(221, 226, 242, 1));
-webkit-text-fill-color: transparent;
background-clip: text;
}




.last-card-div h1 {
    
    font-family: Archivo;
font-weight: 500;
font-size: 44px;
line-height: 52.22px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
width: 300px;
margin-top: 16px;
margin-bottom: 24px;
}

.last-card-div p {

    font-family: Archivo;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);
width:  300px;
margin-bottom: 48px;
}


.last-card1-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin-top: 100px;
   margin-bottom: 60px;
}


.last-card1-div h1 {
    font-family: Archivo;
font-weight: 500;
font-size: 44px;
line-height: 52.22px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
width: 344px;
margin-top: 16px;
margin-bottom: 24px;
}

.last-card1-div p {
    font-family: Archivo;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    color: rgba(127, 127, 144, 1);
    width:  344px;
    margin-bottom: 48px;
}


@media (max-width:1024px) {
    .last-card1-wrapper {
        flex-direction: column-reverse;
    }
    .last-card-img {
        width: 300px;
    }
}




.last-card2-div h1 {
    font-family: Archivo;
font-weight: 500;
font-size: 44px;
line-height: 52.22px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
width: 344px;
margin-top: 16px;
margin-bottom: 24px;
}


.last-card2-div p {
    font-family: Archivo;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
    color: rgba(127, 127, 144, 1);
    width:  344px;
    margin-bottom: 48px;
}


.last-card2-wrapper {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width:1024px) {

    .last-card2-wrapper {
        
        flex-direction: column;

    }
    .imggg {
        width: 344px;
    }
}



.colorful-card-wrapper {

    display: flex;
    justify-content: center;
    margin-top: 151px;
}

.colorful-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 944px;
    height: 200px;
    
    border-radius: 24px;
    background-image: url('../images/card.svg');
   
    
}


.colorful-card h1 {
    font-family: Archivo;
font-weight: 500;
font-size: 48px;
line-height: 52.22px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
width: 488px;
}

@media (max-width:944px) {
    .colorful-card {
        width: 100%;
    }
    .colorful-card h1  {
        font-size: 28px;
        line-height: 30px; 
    }
}



.logo-line-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 270px;
}


.logo-line {
 width: 607px;
height: 1px;
background-color: rgba(235, 221, 243, 1);

}


footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.ft-txt-div {

    display: flex;
    width: 400px;
    justify-content: space-between;

}
.ft-txt {
    font-family: Archivo;
font-weight: 500;
font-size: 16px;
line-height: 17.41px;
letter-spacing: -2%;
text-align: center;
color: rgba(127, 127, 144, 1);
}


@media (max-width:1280px) {
    .footer-btn-div {
        display: none;
    }
}

@media (max-width:1024px) {

    footer {
        flex-direction: column;
        gap: 30px;
    }
}


@media (max-width:480px) {
    .ft-txt-div {
        flex-direction: column;
        gap: 15px;
    }
} 






.light-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px 5px #fff;
    filter: blur(30px);
    z-index: 9999;
    pointer-events: none;
}