
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none
}

body {
    background-color: black;
    height: 10000px;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.header-content {
    font-weight: 500;
    font-size: 16px;
    line-height: 17.41px;
    letter-spacing: -2%;
    text-align: center;
    color:rgba(127, 127, 144, 1);
    font-family: Archivo;
}

.header-logo:hover {
    cursor: pointer;
}

.arrow-right:hover .header-content {
    color: white; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); 
    transform: translateY(-2px);
    cursor: pointer;
}
.arrow-right:hover .arrow {
    color: white; 
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); 
    transform: translateY(-2px);
    cursor: pointer;
}
.header-content:hover {
    color: white;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    transform: translateY(-2px);
    cursor: pointer;
    transition:0.2s ;
    -webkit-transition:0.2s ;
    -moz-transition:0.2s ;
    -ms-transition:0.2s ;
    -o-transition:0.2s ;
}



.header-ul {
    display: flex;
    gap: 40px;
    
}

.arrow-right {
    display: flex;
    gap: 8px;
}

.bars-div:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: 0.3s

}

.bars-div {

    display: none ;
}

.action-btn {
  
    border-radius: 99px;
    border-width: 1px;
    padding-top: 15px;
    padding-right: 24px;
    padding-bottom: 15px;
    padding-left: 24px;
    cursor: pointer;
  
}

.signin-btn { background-color: rgba(0, 0, 0, 1); box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset; font-family: Archivo; font-weight: 600; font-size: 16px; line-height: 17.41px; letter-spacing: -2%; text-align: center; color: rgba(255, 255, 255, 1); 
}

.signup-btn {

 background-color: rgba(255, 255, 255, 1);
 box-shadow: 0px 0px 35px 0px rgba(160, 151, 180, 0.5);
 font-family: Archivo;
font-weight: 600;
font-size: 16px;
line-height: 17.41px;
letter-spacing: -2%;
text-align: center;
color: rgba(0, 0, 0, 1);


    
}

.signin-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
    transition: 0.3s ease-in-out;
}

.signup-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
    transition: 0.3s ease-in-out;
}


@media (max-width: 1024px) {

    .header-div {
        display: none;
    }
    .bars-div {
        display: flex;
    }
}
@media (max-width:768px) {
    .header-btn {
        display: none;
    }
}








/* section-1 strat*/

.s1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-title {
font-family: Archivo;
font-weight: 500;
font-size: 75px;
line-height: 87.04px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
}
.a-span {
 font-family: Archivo;
font-weight: 500;
font-size: 41.8px;
line-height: 45.47px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
}

.second-title {
    font-family: Archivo;
font-weight: 500;
font-size: 41.8px;
line-height: 45.47px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
}
.third-title {
    font-family: Archivo;
font-weight: 500;
font-size: 75px;
line-height: 87.04px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
background: linear-gradient(to right, #FFFFFF 0%, #a594c7 100%);
color: transparent;
background-clip: text;







}

.title-div {
    margin-top: 98px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    
}

.first-p {
    font-family: Archivo;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -2%;
text-align: center;
color: rgba(127, 127, 144, 1);
margin-top: 35px;
}
   




@media (max-width:1280px) {

    .main-title {
        font-size: 55px;
        line-height: 35px
    }

    .a-span {
        font-size: 30px;
        line-height: 35px
    }
    .second-title {
        font-size: 30px;
        line-height: 35px
    }

    .third-title {
        font-size: 55px;
        line-height: 35px
    }
}


@media (max-width:768px) {

    .main-title {
        font-size: 30px;
    }

    .a-span {
        font-size: 17px;
    }
    .second-title {
        font-size: 17px;
    }

    .third-title {
        font-size: 30px;
    }

    .title-div {
        gap: 0px;
        margin-top: 30px;
    }
    .first-p {
        font-size: 13px;
        margin-top: 22px;
    }

 
    
    

}

@media (max-width:480px) {

    .main-title{
        font-size: 24px;
    }
    .third-title {
        font-size: 24px;
    }

   
}


.action2-btn {
  
    border-radius: 99px;
    border-width: 1px;
    padding-top: 18px;
    padding-right: 32px;
    padding-bottom: 18px;
    padding-left: 32px;
    cursor: pointer;
  
}
.learn-btn {
 background-color: rgba(0, 0, 0, 1);
 color: rgba(255, 255, 255, 1);
 font-family: Archivo;
font-weight: 500;
font-size: 17px;

letter-spacing: -2%;
text-align: center;
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;


}

.get-btn {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(0, 0, 0, 1);
    font-family: Archivo;
font-weight: 500;
font-size: 17px;

letter-spacing: -2%;
text-align: center;
box-shadow: 0px 0px 35px 0px rgba(160, 151, 180, 0.5);


}
.hero-btn-div {

    margin-top: 45px;
}
.learn-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
    transition: 0.3s ease-in-out;
}

.get-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
    box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
    transition: 0.3s ease-in-out;
}

@media (max-width:768px) {
    .action2-btn {
  
        border-radius: 99px;
        border-width: 1px;
        padding-top: 13px;
        padding-right: 24px;
        padding-bottom: 13px;
        padding-left: 24px;
        cursor: pointer;
      
    }

    .learn-btn {
        font-size: 14px;
    }
    .get-btn {
        font-size: 14px;
    }

    .hero-btn-div {

        margin-top: 22px;
    }
}


.phone-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.back-img {
    position: absolute;
    object-fit: cover;
      z-index: -4;
      width: 100%;
      height: 900px;
}
.phone-img {
    margin-top: 10px;
}

@media (max-width:1280px) {

    .phone-img {

        width:800px ;
        height: 500px;
    }

    .back-img {
        height: 700px;
    }

} 

@media (max-width:1024px) {

    .phone-img {

        width:600px ;
        height: 350px;
    }

    .back-img {
        height: 600px;
    }
}

@media (max-width:768px) {

    .phone-img {

        width:400px ;
        height: 250px;
    }

    .back-img {
        height: 400px;
    }
} 

@media (max-width:480px) {
    .phone-img {

        width:340px ;
        
    }
} 


.company-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 32px;
}

.company-p {
 font-family: Archivo;
font-weight: 500;
font-size: 18px;
line-height: 27px;
letter-spacing: -2%;
text-align: center;
color: rgba(127, 127, 144, 1);

}

.logos-div {
    display: flex;
    gap: 60px;
}


@media (max-width:1024px) {
    .logos-div {
        gap: 30px;
    }

}




.logos-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    display: none;
}

.row {
    display: flex;
    width: fit-content;
    gap: 30px;
}
 

@media (max-width:768px) {

    .logos-mobile {
        display: flex;
    }
    .logos-div {
        display: none;
    }
}


@media (max-width:480px) {
    .row {
        gap: 20px;
    }
}


/* Cards-Here*/


.card-section {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.vexion-div h2 {
    font-family: Archivo;
font-weight: 500;
font-size: 24px;
line-height: 26.11px;
letter-spacing: -2%;
text-align: center;
color: rgba(249, 248, 246, 1);
background: linear-gradient(rgba(244, 241, 247, 1),rgba(213, 204, 236, 1),rgba(173, 187, 234, 1),rgba(221, 226, 242, 1));
-webkit-text-fill-color: transparent;
background-clip: text;
}


.vexion-div {

    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 150px;
    margin-bottom: 80px;
}


.universal {
    font-family: Archivo;
font-weight: 500;
font-size: 64px;

letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);
}
@media (max-width:1024px) {

    .universal {
        font-size: 38px;
    }
    .vexion-div {
        gap: 15px;
    }
}

.vexion-div p {
    font-family: Archivo;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: -2%;
text-align: center;
color: rgba(127, 127, 144, 1);
}


.card-1 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
 width: 385px;
height: 699px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);

}

.card-1:hover {

    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);
}

.card-1 h2 {

font-family: Archivo;
font-weight: 500;
font-size: 32px;
letter-spacing: -2%;
text-align: center;
color: rgba(255, 255, 255, 1);



}

.card-1 p {
    font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
text-align: center;
color: rgba(127, 127, 144, 1);
margin-top: 16px;

}

.getapp-btn {
 font-family: Archivo;
font-weight: 600;
font-size: 16px;
letter-spacing: -2%;
text-align: center;
color: rgba(0, 0, 0, 1);
margin-top: 48px;
margin-bottom: 56px;

}

.getapp-btn:hover {
    border-color: rgba(255, 255, 255, 0.8); 
box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.6); 
 transition: 0.3s ;
}


.card-2 {

 width: 385px;
height: 297px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
padding: 32px 22px;
}

.card-2:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);
}

.card-2 h2 {

font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
margin-top: 65px;
margin-bottom: 16px;

} 

.card-2 p {
 font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);


}

.card-3 {
width: 385px;
height: 386px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
padding: 35px 24px;
margin-top: 16px;

}
.card-3:hover {

    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);
}


.card-3 h2 {
font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
margin-top: 108px;
margin-bottom: 16px;

}

.card-3 p {
 font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);

}

.card-4 {
 width: 385px;
height: 386px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
padding: 35px 24px;

}

.card-4:hover {

    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);

}

.card-4 h2 {
font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
margin-top: 133px;
margin-bottom: 16px;

}

.card-4 p {
font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);

}


.card-5 {
 width: 385px;
height: 297px;
border-radius: 24px;
border-width: 1px;
color: rgba(5, 5, 10, 1);
box-shadow: 0px 10px 25px 0px rgba(230, 221, 254, 0.1) inset;
cursor: pointer;
background: linear-gradient(0deg, #05050A, #05050A),
linear-gradient(360deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.05) 100%);
padding: 35px 24px;
margin-top: 16px;

}

.card-5:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition:0.5s ;
    transform: scale(1.07);
}


.card-5 h2 {
font-family: Archivo;
font-weight: 500;
font-size: 24px;
letter-spacing: -2%;
color: rgba(255, 255, 255, 1);
margin-top: 32px;
margin-bottom: 16px;

}

.card-5 p {
font-family: Archivo;
font-weight: 500;
font-size: 14px;
letter-spacing: -2%;
color: rgba(127, 127, 144, 1);

}

@media (max-width:768px) {

    .phone-img {
        width: 344px;
    }

    .cardd {
        width: 340px;
    }
}
@media (max-width:1280px)  {

    .card-section {
        flex-direction: column;
        align-items: center;
    }
}




   














